<!-- <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName" required />

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName" />

  <div formGroupName="address">
    <h2>Address</h2>

    <label for="street">Street: </label>
    <input id="street" type="text" formControlName="street" />

    <label for="city">City: </label>
    <input id="city" type="text" formControlName="city" />

    <label for="state">State: </label>
    <input id="state" type="text" formControlName="state" />

    <label for="zip">Zip Code: </label>
    <input id="zip" type="text" formControlName="zip" />
  </div>

  <div formArrayName="aliases">
    <h2>Aliases</h2>
    <button type="button" (click)="addAlias()">+ Add another alias</button>

    <div *ngFor="let alias of aliases.controls; let i = index"> -->
<!-- The repeated alias template -->
<!-- <label for="alias-{{ i }}">Alias:</label>
      <input id="alias-{{ i }}" type="text" [formControlName]="i" />
    </div>
  </div>

  <p>Complete the form to enable button.</p>
  <button type="submit" [disabled]="!profileForm.valid">Submit</button>
</form>

<hr />

<p>Form Value: {{ profileForm.value | json }}</p>

<p>Form Status: {{ profileForm.status }}</p>

<button type="button" (click)="updateProfile()">Update Profile</button> -->

<form class="form-group" [formGroup]="ToDoListForm">
  <div formArrayName="items">
    <table class="table-bordered">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      <tr
        *ngFor="let x of itemsArray.controls; let i = index"
        [formGroupName]="i"
      >
        <td>
          <input
            class="form-control"
            formControlName="firstName"
            placeholder="Item name"
          />
        </td>
        <td>
          <input
            class="form-control"
            formControlName="lastName"
            placeholder="Item name"
          />
        </td>
        <td>
          <button (click)="deleteItem(i)">Delete Item</button>
        </td>
      </tr>
    </table>
  </div>
  <button (click)="addNewItem()">Add New Item</button>
  <button (click)="deleteAll()">Delete All</button>
</form>

<b>Form's Value:</b>
{{ ToDoListForm.value | json }}
<br />
<b>Form is Valid ? :</b>
{{ ToDoListForm.valid }}
